.singInpage {
    background: rgb(255, 54, 98);
    background: linear-gradient(90deg, rgba(255, 54, 98, 1) 0%, rgba(255, 37, 130, 1) 93%, rgba(255, 37, 130, 1) 100%);
    height: 89vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.singInpage form{
    position: relative;
    display: flex;
    gap: 20px;
    flex-direction: column;
    padding: 60px 50px;
    background-color: white;
    width: 300px;
}
.singInpage form span{
    text-align: center;
    font-size: 30px;
}
.singInpage form input{
    border: none;
    outline: none;
    border-bottom: 2px solid rgb(241, 118, 118);
    padding: 10px 0;
    font-size: 16px;
}
.singInpage form .img{
   position: absolute;
   width: 70px;
   height: 70px;
   border-radius: 50%;
   top: -40px;
   left: 165px;
}
.singInpage form button{
    background: rgb(255, 54, 98);
    background: linear-gradient(90deg, rgba(255, 54, 98, 1) 0%, rgba(255, 37, 130, 1) 93%, rgba(255, 37, 130, 1) 100%);
    padding: 10px 0;
    border: none;
    color: white;
    font-size: 18px;
    cursor: pointer;
}